In [49]:
import glob
import os
import pandas as pd
import pickle
import shutil

In [12]:
algos = [os.path.basename(x) for x in glob.glob('out/*')]

In [64]:
for algo in algos:
    envs = [os.path.basename(x) for x in glob.glob('out/{}/*'.format(algo))]
    for env in envs:
        stat_files = glob.glob('out/{}/{}/*.p'.format(algo, env))
        statistics = []
        for f in sorted(stat_files):
            model_id = int(os.path.basename(f).split('_')[2].replace('.p', ''))
            run_stats = pickle.load(open(f, 'rb'))
            df = pd.DataFrame(run_stats)
            statistics.append({'reward': df['reward'].mean(), 'length': df['length'].mean(), 'model_id': model_id})
        
        result = pd.DataFrame(statistics).sort_values(by='model_id').reset_index(drop=True)
        best_result = result[result['reward'] == result['reward'].max()]
        best_model_file = 'out/{}/{}/model_round_{}.zip'.format(algo, env, best_result['model_id'].values[0])
        shutil.copy(best_model_file, 'out/{}/{}/best_model.zip'.format(algo, env))
        print('Algo: {} | Env: {}'.format(algo, env))
        display(best_result)

Algo: a2c | Env: LunarLander-v2

         reward  length  model_id
114  165.283233  449.24       114

Algo: a2c | Env: CartPole-v1

     reward  length  model_id
21   1000.0  1000.0        21
22   1000.0  1000.0        22
23   1000.0  1000.0        23
24   1000.0  1000.0        24
25   1000.0  1000.0        25
..      ...     ...       ...
195  1000.0  1000.0       195
196  1000.0  1000.0       196
197  1000.0  1000.0       197
198  1000.0  1000.0       198
199  1000.0  1000.0       199

[179 rows x 3 columns]

Algo: ppo | Env: LunarLander-v2

         reward  length  model_id
137  281.850849  236.78       137

Algo: ppo | Env: LunarLanderContinuous-v2

        reward  length  model_id
182  170.86403  976.26       182

Algo: ppo | Env: CartPole-v1

     reward  length  model_id
6    1000.0  1000.0         6
7    1000.0  1000.0         7
8    1000.0  1000.0         8
9    1000.0  1000.0         9
10   1000.0  1000.0        10
..      ...     ...       ...
195  1000.0  1000.0       195
196  1000.0  1000.0       196
197  1000.0  1000.0       197
198  1000.0  1000.0       198
199  1000.0  1000.0       199

[191 rows x 3 columns]